<nav class="navbar shadow-sm fixed-top navbar-light navbar-expand-lg <% if current_page?('/') %> transparent<% else %> "style="background-color: #e3f2fd; <% end %>" role="navigation">
  <%= link_to 'Petition-online', root_path, :class=>"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex w-100">
      <li class="nav-item active ">
        <%= link_to 'List', petitions_path, :class=>'nav-link '%>
      </li>
      <li class="nav-item mr-auto">
        <% if logged_in? %>
          <%= link_to 'New petition', new_petition_path, :class=>'nav-link '%>
        <% else %>
          <%= link_to 'New petition', new_petition_path, :class=>'nav-link disabled'%>
        <% end %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'User', current_user, :class=>'nav-link ' %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if !logged_in? %>
          <%= link_to 'Log in', login_path, :class=>'nav-link ' %>
        <% else %>
          <%= link_to 'Log out', logout_path, method: :delete , :class=>'nav-link '%>
        <% end %>
      </li>
      <% if !logged_in? %>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, :class=>'nav-link ' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
